@{
    ViewData["Title"] = "Joel Hilton's Movie Collection";
}

<h2>My Podcast Page</h2>
<br />
<p>Fun Fact about Podcasts: There are 29 million podcast episodes in more than 100 languages.</p>
<br />
<a href="https://baconsale.com/">Click here to view more podcasts!</a>
<div>
    <a asp-controller="Home" asp-action="AddMovie">Add a movie!</a>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Go Home</a>
</div>
