@{
    ViewData["Title"] = "Joel Hilton's Movie Collection";
}

<h1>Joel Hilton's Movie Collection Site</h1>

<div>
    <p>On this site you can find more podcasts and add to the movie collection.</p>
</div>
<img src="~/img/JoelHiltonHeadshot.jpg" height="600"/>
<br />
<br />
<br />
<div>
    <a asp-controller="Home" asp-action="AddMovie">Add a movie to the collection!</a>
</div>
<div>
    <a asp-controller="Home" asp-action="FindPodcast">Find a podcast</a>
</div>
<div>
    <a asp-controller="Home" asp-action="ViewMovies">View all movies!</a>
</div>